*{
    margin: 0px;
    padding: 0px;
}

.joining{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
.sec-1, .sec-2, .sec-3, .sec-4, .sec-5{
    position: relative;
} 

/* header,footer{
    position: relative;
} */

.sec-1{
    background-color: aqua;
}
.sec-2{
    background-color: rgb(182, 132, 229);
}
.sec-3{
    background-color: lightseagreen;
}
.sec-4{
    background-color: lightskyblue;
}
.sec-5{
    background-color: rgb(104, 235, 126);
}
.sec-6{
    background-color: rgb(211, 235, 104);
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

